<div id="content">
	<div class="container">
		<div class="row text-center">
			<div class="col">
				<h1>TOP 3</h1>
				<table class="table mt-2">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Score</th>
							<th scope="col">Nick</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td id="score_1">100</td>
							<td id="nick">opiltan</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td id="score_2">50</td>
							<td id="nick">opiltan</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td id="score_3">20</td>
							<td id="nick">opiltan</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<h1>Home</h1>
			</div>
			<div class="col">
				<h1>Friend List</h1>
				<div id="plist" class="people-list">
					<ul class="list-unstyled chat-list mt-4">

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>