<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center font-weight-bold mb-5">Match History</h1>
                <div class="d-flex justify-content-between mb-5">
                    <div>
                        <button id="allMatchHistory" class="btn btn-primary mr-2">All</button>
                        <button id="winMatchHistory" class="btn btn-primary mr-2">Wins</button>
                        <button id="loseMatchHistory" class="btn btn-primary">Losses</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Opponent</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody id="matchHistoryTbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>