<div class="content">
    <div class="container">
        <div class="row" id="searchResults">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search Results</h5>
                        <p id="notFoundSearch" class="card-text" style="display: none;">No results found</p>
                        <div id="profileCards">
                            <div class="card" style="width: 18rem; display: block;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>